html
{ height: 100%;
width: full;}

*{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'Montserrat', arial, sans-serif;
  background: #FFF;
  color: #555;
  font-size: 12px;
}
  *{
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
  }

  .img{
    width: 700px;
  }
  
  .container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align:top;
  }

  .container-mid{
    border-radius: 3px;
    margin: 10px 0px 10px 170px;
    width: 1000px;
    height: wrap;
    background-color: #f1f3f6;
    display: inline-block;
    text-align: cente
  }

  .container-right{
    margin-top: 10px;
    background-color: transparent;
    float: right;
    width: 370px;
    padding: 0 10px 0 10px ;
  }  
  
  .wrapper{
    border-radius: 3px;
    margin: 10px;
    width: auto;
    padding:10px;
    background-color: transparent;
    display: inline-block;
  }

  .wrapper-imgtop{
    border-radius: 3px;
    margin: 0;
    padding: 10px;
    width: auto;
    background-color: transparent;
    text-align: center;
  }

  .wrapper-imgbot{
    border-radius: 3px;
    margin: 0;
    padding: 10px;
    width: auto;
    background-color: transparent;
    text-align: center;
  }

  .box{
    border-radius: 3px;
    padding: 4px 4px 4px 20px;
    margin: 0px 0px 10px 0px ;
    width: wrap;
    height: wrap;
    background-color: #c4c4c4;;
  }

  .box-img{
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 2px;
    border-radius:5px;
    height: 100px;
    width: 320px;
    box-shadow: 2px 4px 5px #c4c4c4;
    display: inline-block;
    margin: 0 5px 0 5px;
  }

  .card{
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 2px;
    border-radius:5px;
    height: 150px;
    width: 250px;
    box-shadow: 2px 4px 5px #c4c4c4;
    padding: 9px;
    display: inline-block;
    margin: 5px;
  }
  .card-text{
    margin: 5px 0px 5px 0;
    background-color: transparent;

  }

  .sidebar{
    position: fixed ;
    left: 0;
    width: 150px;
    height: wrap;
    background: #f1f3f6;
    list-style: none;
    text-decoration: none;
    border-radius: 0px 7px 7px 0;
    margin-top: 12px;
    box-shadow: 2px 4px 5px #a1a1a1;
  }
  .sidebar header{
    font-size: 18px;
    color: #FFF;
    text-align: center;
    line-height: 34px;
    background: #606060;
    user-select: none;
    list-style: none;
    border-radius: 0px 7px 0px 0;
    padding: 0px 4px 0px 20px;
  }

  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    margin-top: 4px;
    font-size: 12px;
    color: black;
    padding-left: 10px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
  }


  .sidebar li:hover{
    background-color:#D9D5CF;
    padding-left: 10px;
  }

  
  .sidebar-right{ 
    width: 370px;
    background: transparent;
  }

  .sidebar-right header{
    font-size: 18px;
    color: black;
    line-height: 34px;
    background: #c4c4c4;
    user-select: none;
    list-style: none;
    border-radius: 3px;
    padding: 0px 0px 0px 15px;
  }

  .sidebar-right ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    font-size: 12px;
    color: black;
    list-style: none;
    text-decoration: none;
  }

  .sidebar-right li a {
    list-style: none;
    background-color: #f1f3f6;
    border-radius: 3px;
    padding-left: 15px;
    box-shadow: 2px 4px 5px #c4c4c4;
    width: 95%;
  }

  .sidebar-right li:hover{
    padding-left: 15px;
    list-style: none;
  }

  #menubar
{ width: 1000px;
  padding: 0px 30px 30px 50px;
  height: 0px;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: right;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: #e39a9a;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 


ul#menu li a:hover
{ color: #FFF;
  background: #e39a9a;
}


  img
  { border: 0;}

p
{ padding: 0 0px 0px 0px;
  line-height: 1.7em;
  font-size: 70%;
}

h1, h2, h3, h4, h5, h6 
{ color: black;
  letter-spacing: 0em;}

h1, h2, h3
{ font: normal 100%  'montserrat', arial;}

h1{
  font-size: 150%;
}

h2
{ font-size: 80%;}

h3
{ font-size: 80%;}

h4, h6
{ color: #009FBC;
  font: normal 60% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 50% 'montserrat', arial;
  letter-spacing: normal;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #009FBC;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul li
{ list-style-type: none;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #1d1d1d url(pattern.png) repeat;
  border-bottom: 2px solid #e39a9a;
  height: 80px;}
  
#banner
{ background: transparent url(banner.jpg) no-repeat;
  width: 870px;
  height: 180px;
  margin-bottom: 20px;
  border: 5px solid #e39a9a;}

#logo
{ width: 880px;
  position: relative;
  height: 50px;
  background: transparent;}

#logo #logo_text 
{ position: absolute; 
  top: 0px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 200% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #e39a9a;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #FFF;}


#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 


#content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: left;}
  
#content ul
{ margin: 2px 0 22px 0px;}


#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: transparent url(pattern.png) repeat;
  border-top: 2px solid #e39a9a;
  color: #FFF;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #e39a9a;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #e39a9a; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #e39a9a;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}
