/*----RED-LINES-----*/
.red-top, .red-bot{
  width: 100%;
        position: fixed;        
        background: #B81633;
        padding: 3px 0;
        margin-left: 260px;
}
.red-top{
  top: 0;
}
.red-bot{
  bottom: 0;
}    

/*----TYPING-STYLES-----*/
html
{ height: 100%;
width: full;}

*{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'Montserrat', arial, sans-serif;
  background: #121212;
  font-weight: 300;
  color: rgb(241,243,246, 0.87);
  font-size: 18px;
}

img
{ border: 0;}

p
{ padding: 0px 0px 0px 0px;
line-height: 1.7em;
font-size: 70%;
}

h2, h3, h4, h5, h6 
{ color: #f1f3f6;
letter-spacing: 0em;
padding: 0px 0 10px 0;
}

h1, h2, h3
{ font: normal 100%  'montserrat', arial;}

h1{
font-size: 100%;
}

h2
{ font-size: 80%;
line-height: 160%;
opacity: 0.6; 
}

h3
{ font-size: 80%;
line-height: 160%;
opacity: 0.6;
}

h4, h6
{ color: #009FBC;
font: normal 60% arial;
text-transform: uppercase;}

h5, h6
{ color: #888;
font: normal 70% 'montserrat', arial;
letter-spacing: normal;

}

a, a:hover
{ outline: none;
text-decoration: underline;
color: #009FBC;}



/*WRAPPER & CONTAINER*/
.wrapper{
  margin-right: auto;
  margin-left: 260px;
  min-width: 1100px;
  max-width: 1920px;
  padding: 20px;
  background-color: #121212;
  text-align: center;

  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.container{
  background-color: transparent;
}

  .giant{
    max-width: 800px;
    height: 100%;
    display: inline-block;
  }

  .first{
    width: 800px;
    height: auto;
    margin-bottom: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }

  .second{
    width: 800px;
    height: auto;
    margin-bottom: 12px;
    background-color: transparent;
    display: inline-block;
  }


  .container header{
    padding: 10px 20px;
    width: wrap;
    height: wrap;
    background: rgba(255, 255, 255, 0.05);
    text-align: left;
    margin-bottom: 10px;
    text-transform:capitalize;
    display: flex;
  }

  .container header h1{
    margin: auto;
    margin-left: 0;
    margin-right: 0;;
  }

  .flex-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

/*-------------*/

  .fotoAkun{
    width: 200px;
    background-color: transparent;
    float: left;
    padding: 20px;
  }

  .foto{
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }

  .promosi{
    width: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    margin-bottom: 6px;
    padding: 6px;
  }

  .container .promosi:hover{
    background: rgba(255, 255, 255, 0.10);
  }

  .form{
    width: 500px;
    text-align: left;
    box-sizing: border-box;
    padding: 20px 20px;
    display: inline-block;
  }

  .box-img{
    height: 100px;
    width: auto;
    display: inline-block;
  }

  /*--------CARD-- width: 356px;--------*/
  .card{
    height: 150px;
    width: 356px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 20px;
    margin-bottom: 8px;
  }

  .card:hover {
    background: rgba(255, 255, 255, 0.10);
  }

   .card-info{
    height: auto;
    width: auto;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px;
    margin-bottom: 6px;
  }
    
  .card-text{
    margin: 5px 0px 5px 0;
    background-color: transparent;
  }


  .border{

    border-bottom: 3px solid;
    border-color: rgb(250, 250, 250, 5%);
    width: wrap;
    height: wrap;
    padding: 10px;

  }


  /*-----FORUM LIST------*/
.list{
  width: auto;
  background-color: transparent;
  
}

.listView{
  display: flex;
  text-align: left;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 10px;
  width: 800px;
}

/*----------item--------------*/
.item{
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.item a{
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.item:hover{
  background: rgba(255, 255, 255, 0.10);
}

.item .title{

  margin: auto;
  margin-right: 10px;
  margin-left: 0;
  width: 350px;
}

.item .title h1{
  margin: auto;
  font-size: 100%;
}

.item-stat{
  display: flex;
  flex-direction: row;
  width: wrap;
  height: wrap;
  margin: auto;
  margin-right: 0px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px 20px;
}
.item-stat hr{
  transform: rotate(90deg);
  width: fit-content;
}

.item-stat > .like{
  margin: auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

}
.item-stat > .like img{
  width: 30px;
  margin: auto;
}
.item-stat .like h1{
  padding-top: 5px;
  margin: auto;
  color: inherit;
}

.item-stat > .comment-count{
  margin: auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.item-stat .comment-count img{
  width: 30px;
  margin: auto;
}
.item-stat .comment-count h1{
  padding-top: 5px;
  margin: auto;
}
.item-stat > .details{
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  width: 160px;
  background-color:transparent;
}
.details > img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.details > .name-date{
  height: 50px;
  font-size: 70%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.name-date > h1 h2{
  padding: 0px;
  line-height: 0px;
}

.name-date > h2{
  margin-bottom: 0px;
}


/*---------------CONTAINER-RIGHT----------------------*/
.container-right{
  background-color: transparent;
  width: 260px;
  height: wrap;
  display: flex;
  flex-direction: column;
}
.container-right > header{
  padding: 10px 20px;
  padding-left: 20px;
  width: wrap;
  height: wrap;
  background: rgba(255, 255, 255, 0.05);
  text-align: left;
  margin-bottom: 10px;
  display: flex;
}  

.container-right  h1{
  margin: auto;
  margin-left: 0;
}

.container-right button{
  font-size: 130%;
}
/*------sidebar-right-----*/
.sidebar-right{ 
  width: 260px;
  display: flex;
  flex-direction: column;
}

.sidebar-right > header{
  padding: 10px 20px;
  padding-left: 20px;
  width: wrap;
  height: wrap;
  background: rgba(255, 255, 255, 0.05);
  text-align: left;
  margin-bottom: 10px;
  display: flex;
}
.sidebar-right header h1{
  margin: auto;
  margin-left: 0;
}

.sidebar-right > a {
  display: flex;
  font-size: 16px;
  color: #f1f3f6;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 6px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.sidebar-right a:hover:not(.active){
  background: rgba(255, 255, 255, 0.10);
}

/*----SIDEBAR-RIGHT END----*/

/*-------BUTTON--------*/
  button {
    background-color: rgb(65, 193, 202);
    color: #f1f3f6;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform:capitalize;
    opacity: 0.9;
  }
  button:hover {
    opacity: 1;
  }
  button:focus{
    outline: none;
  }
  .bungkus-button{
    padding: 14px 20px;
  }

  .kirim{
    margin: auto;
    margin-right: 0;
  }
  .kirim button{
    margin: auto;
    margin-top: 10px;
  }

  input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 10px 0  10px 8px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,1);
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
    font-size: 18px;
    font-family: inherit;
  }
  
  input[type=text]:focus {
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.3);
  }

  input[type=password]:focus {
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.3);
  }

  input[type=radio]{
 
    padding: 10px 0  10px 8px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,1);
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
    font-size: 18px;
  }

  .registerbtn {
    background-color: rgb(65, 193, 202);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 100%;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  .add-photo{
    margin: auto;
    margin-top: 10px;
    background-color: #FC573B;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
  }
  .add-photo img{
    width: 30px;
    margin: auto;
    margin-right: 15px;
  }
  .add-photo input[type=file]{
    margin: auto;
  }


  
/*---------------*/


  
/*-------THREAD--------*/
  .threadCreate{
    text-align: left;
    padding: 10px 30px 0px 20px;
  }

  textarea#styled {
    height: 120px;
    width: 100%;
    min-height: 120px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 0  10px 8px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,1);
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
    font-size: 18px;
    overflow: auto;
    font-family: inherit;
  }

  .threadCreate button{
    width: 120px;
    float: right;
    margin-bottom: 20px;
  }


  .thread{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.05);
  }

  /*------THREAD-STAT------*/
  .thread-stat{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .thread-stat img{
    width: 100px;
    border-radius: 10px;
  }


/*------like------*/
  .thread-stat > .like{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    width: wrap;
    height: wrap;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
  }
  .thread-stat .like img{
    width: 35px;
    transition: .1s;
    cursor: pointer;
  }
  .thread-stat .like img:active{
    transform: scale(1.6) rotate(-4deg);
  }
  .thread-stat .like h1{
    padding-top: 10px;
    font-size: 120%;
  }

  /*------comment-count------*/
  .thread-stat > .comment-count{
    margin: auto;
    margin-top: 0px;
    width: wrap;
    height: wrap;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 10px;
    border-radius: 10px;
  }
  .thread-stat > .comment-count img{
    width: 35px;
  }

  .comment-count h1{
    padding-top: 10px;
  }
/*-----------THREAD-STAT END------------*/

/*------thread-main------*/
  .thread-main{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
  }
  .thread-main hr{
    border: 2px solid;
    opacity: 0.1;
  }
  .thread-main text{
    width: 100%;
  }
  .thread-main text > p{
    text-align: left;
    font-size: 80%;
    line-height: 1.6;
    padding-right: 20px;
  }
  .thread-main h1{
    font-size: 140%
  }

/*------filter katergori------*/
.filter{
  height: wrap;
  width: 100%;
  margin-bottom: 10px;
  display: flex;

}
.filter header{
  background: none;
  padding: 10px 20px;
  width: wrap;
  height: wrap;
  margin: auto;
  margin-right: 0;
}

.filter select{
  background-color: inherit;
  color: #f1f3f6;
  padding-left: 10px;
  width: 250px;
  border: none;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.filter select option{
  background-color: #B81633;
  color: #f1f3f6;
}
.filter > .category{
  color: #f1f3f6;
}

  .category{
    color: #f1f3f6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .category box{
    background-color: #B81633;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius:3px;
    cursor: pointer;
    margin-right: 10px;
  }
  .category box h1{

    margin: auto;
    font-weight: bold;
    font-size: 80%;
  }


 
/*------share-edit------*/
  .share-edit{
    display: inline-flex;
    padding: 10px;
    padding-left: 0px;
    padding-bottom: 0;
  }
  .share-edit img{
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .share-edit h2{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  .share{
    display: inline-flex;
    padding: 10px 10px 20px 0;
  }
  #share-drop{
    background: rgba(255, 255, 255, 0.05);
  }
  .share-drop{
    width: wrap;
    height: wrap;
    font-size: 70%;
    margin: auto;
    margin-left: 0px;
  }
 
  .edit{
    display: inline-flex;
    padding: 10px 10px 20px 0;
  }


/*------COMMENT-LIST---------*/
 .comment-item{
   padding: 20px;
   text-align: left;
   display: flex;
   margin-bottom: 10px;
 }

 .comment-item img{
   width: 70px;
   height: 70px;
   border-radius: 5px;
 }

 .comment-item text{
   display: flex;
   flex-direction: column;
   padding: 0px 20px 0 20px;
 }

 .comment-item .img-box{
  padding: 10px;
 }

 .comment textarea{
    min-height: 90px;
    max-height: 140px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 120px;
    padding: 10px 0  10px 8px;
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,1);
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
    font-size: 18px;
    overflow: auto;
    font-family: inherit;
  }
 
  .comment{
    padding: 10px 20px 0px 20px;
    display: flex;
    width: 100%;
  }

  .kotak{
    width: 75%;
  }

  .comment button{
    width: 100px;
    height: 60px;
    margin: auto;
  }


  /*----MISC----*/
.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

.left{
  float: left;
}

.half{
  width: 340px;
  display: inline-block;
  padding-left: 28px;
  padding-right: 28px;
  background: rgba(255, 255, 255, 0.05);
}

.bg{
  background: rgba(255, 255, 255, 0.05);
}

.text{
  text-align: left;
}

hr {
  border: 1px solid #555;
  margin-bottom: 20px;
}

.kiri{
  text-align: left;
 }




 .redDec{
   background: #B81633;
   width: 5px;
   height: 30px;
   margin: auto;
   margin-left: 0;
   margin-right: 10px;
 }

 .intro{
  padding: 20px;
  margin-bottom: 10px;
}


 /*-----PAGINATION-----*/

.container .pagi{

  height: 100%;
  width: 100%;
  margin-bottom: 40px;
}

 .pagination a {
  color: #f1f3f6;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color:  rgb(65, 193, 202);
  color: #f1f3f6;
}

.pagination a:hover:not(.active) {background-color: rgba(255, 255, 255, 0.1);}

/*HEAD*/
.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


 /*-----InformasiDramagon-----*/

  .infoCreate{
    text-align: left;
    padding: 20px;
  }

  textarea#styled {
    height: 320px;
    width: 100%;
    min-height: 120px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 0  10px 8px;
    margin-bottom: -20px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,1);
    color:#6E6E6E;
    text-shadow:#000 0px 1px 5px;
    font-size: 18px;
    overflow: auto;
    font-family: inherit;
  }

  .infoCreate button{
    width: 120px;
    float: right;
    margin-bottom: 20px;
  }

  .infoImage{
    text-align: left;
    padding: 20px;
    margin-top: -20px;
  }


  /*------THREAD-STAT------*/
  .thread-stat{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .thread-stat img{
    width: 100px;
    border-radius: 10px;
    margin: auto;
    margin-top: 0px;
  }

  .img-thread{
    width: 100px;
  }


  /*---THREAD-IMG-----*/

.thread-img{
  width: 100%;
  height: 200px;
 
  align-content: center;
  padding: 0px 0px 20px 0;
  
}
.thread-img > img{

  height: 200px;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
} /*--CATATAN: MAU PASANG MODAL TP TERAKHIR AJA FINISHING---*/

.thread-img> img:hover{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}


/*-----ADS-----*/
.ads{
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}
.ads > h2{
  margin: auto;
  margin-top: 100px;
}


/*---------MODAL------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #121212;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  text-align: center;
}
.modal-content > img{
  width: 500px;
  margin: auto;
}

/* The Close Button */
.close {
  color: #B81633;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f1f3f6;
  text-decoration: none;
  cursor: pointer;
}


/*0ee6e513963f4154fb259009a26819efdf16ce31*/
